In [39]:
import numpy as np
import pandas as pd
import os

In [40]:
meta_data = pd.read_csv('Data/meta_data.csv')

In [41]:
meta_data

        ID   ACTIVATED IN_REPAIR_SYSTEM  STILL_ALIVE  Lifetime
0        0   1/31/2019              NaN         True       593
1        1   12/4/2018              NaN         True       651
2        2   4/18/2019              NaN         True       516
3        3    3/5/2019              NaN         True       560
4        4   12/6/2018              NaN         True       649
...    ...         ...              ...          ...       ...
1022  1022   11/3/2018        9/11/2020        False       678
1023  1023  12/28/2018         6/3/2020        False       523
1024  1024   1/10/2019        6/11/2020        False       518
1025  1025    9/5/2018         2/9/2020        False       522
1026  1026   1/17/2019        9/18/2020        False       610

[1027 rows x 5 columns]

In [42]:
meta_data.describe()

                ID     Lifetime
count  1027.000000  1027.000000
mean    513.000000   531.314508
std     296.613666    92.324199
min       0.000000   401.000000
25%     256.500000   453.000000
50%     513.000000   519.000000
75%     769.500000   592.500000
max    1026.000000   761.000000

In [43]:
# Number of Batteries.
N = 1027

In [44]:
def data(N):
    data = []
    
    path = f"{N}.npz"
    path = os.path.join("Data/npz/", path)
    
    bat_files = np.load(path)
    bat_files.files
    
    for bat_file in bat_files['arr_0']:
        data.append(bat_file)
    
    return data

In [45]:
data = data(N = 10)

In [46]:
# data

In [47]:
len(data)

487187

In [48]:
# Time-stamps.

t = []
for row in data:
    t.append(row[0])

In [49]:
# Current Data.

C = []
for row in data:
    C.append(row[1])

In [50]:
# Voltage Data.

V = []
for row in data:
    V.append(row[2])

In [51]:
# Temperature Data.

T = []
for row in data:
    T.append(row[3])

In [52]:
t[2] - t[1]

60.0